#topicdetails,
#testprepdetails {
  margin-top: calc(#{$header});
  margin-bottom: calc(#{$bottom} + #{$grid8x});

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    margin-bottom: calc(#{$bottom} + #{$grid20x});
  }
}
