#topicslist,
#testpreplist {
  margin-top: calc(#{$header} + #{$header} + #{$grid2x});
  margin-bottom: $bottom;

  .topicslist__title-container {
    padding-bottom: $grid4x;
  }

  .topicslist__title {
    height: $grid12x;
    padding: 0 $grid4x;
    margin: $grid2x 0;

    .topicslist__title-text,
    .topicslist__title-topic {
      display: inline-block;
      @include font-size($grid4x);
      @include line-height($grid3x);
    }

    .topicslist__title-text {
      padding-right: $grid;
    }

    .topicslist__title-topic {
      font-weight: 700;
    }
  }
}
