#topics,
#testprep {
  padding: $grid4x;
  margin-bottom: $grid4x;
  margin-top: calc(#{$header} + #{$header}) !important;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    margin-bottom: $grid16x;
  }
}
