#topics,
#testprep {
  padding: $grid4x !important;
  margin-bottom: $grid4x !important;
  margin-top: calc(#{$header}) !important;

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    margin-bottom: $grid16x !important;
  }
}
